
* {
    font-family: 'Nunito', sans-serif;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
}
nav {
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    height: 100vh;
    background-color: #a6c5ca;
    width: 25vw;
}
nav > h1 {
    margin-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.navbutton {
    margin-top: 1rem;
    padding: .5rem;
    background-color: #a6c5ca50;
}
.navbutton:hover {
    margin-top: 1rem;
    padding: .5rem;
    background-color: #ffffff30;
}
.gridbox {
    display: grid;
    grid-template-columns: 21vw, 21vw, 21vw;
    grid-template-rows: 44.5vh, 44.5vh;
    grid-template-areas:
        "topleft topmiddle topright"
        "bottomleft bottommiddle bottomright" ;
    width: 68vw; /*30vw width for each block in grid*/
    column-gap: 3vw;
    row-gap: 5vw;
    min-height: 95vh; /* 40vh heigh for each block in grid */
    margin-top: 2vh;
    margin-left: 4vw;

}
.bodyclass {
    background-color: 	#faeedf;
    width: 75vw;
    padding: 0;
    height: 100vh;
}

.topleft {
    grid-area: topleft;
    margin: 0%;
    display: flex;
    flex-direction: column;
    

}
.topright {
    grid-area: topright;
}
.bottomleft {
    grid-area: bottomleft;
}
.bottomright {
    grid-area: bottomright;
}
.contactfont {
    font-style: 'Nunito', sans-serif;
}
